<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
        body{
            background-color: rgba(13, 13, 110, 0.737);
        }
    </style>
</head>
<body>
    <div class="error">
    <h1 class="er1">{{error1}}</h1>
    <p class="er2">{{error2}}</p> <br>
    <span class="er3">{{error3}}</span>


    </div>


    
    
</body>
</html>