<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgba(0, 0, 0, 0.336);
        }
    </style>
</head>
<body>
    <header>{{>header}}</header>


        <div class="serves">
            <h2>Serves Ramadan</h2>

            

        </div>

        <div class="parent">
            <img src={{img3}} alt="">
            <img src={{img4}} alt="">
            <img src={{img5}} alt="">
        </div>
        
        {{!-- <img src={{img2}} alt=""> --}}
    

    
</body>
</html>